.modalBG {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.692);
	backdrop-filter: blur(4px);
	z-index: 2;
}

.boardNavContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	height: fit-content;

	.navigation {
		display: flex;
		place-self: center;
		gap: 2rem;
		button {
			padding: 0.45rem;
			place-self: center;
			height: fit-content;

			svg {
				display: flex;
			}
		}
	}
}

.imageContainer {
	position: relative !important;
	width: 100% !important;

	span {
		object-fit: contain;
		position: relative !important;
		width: clamp(28rem, 80vw, 60vh) !important;
		max-width: 60vh;
	}
}

.imageComponent {
	position: relative !important;
	height: 100% !important;
}
