.modalBG {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.boardNavContainer {
    display: flex;
    gap: 1rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    height: fit-content;
}

.navigation {
    top: 25px;
    position: fixed;
    display: flex;
    place-self: center;
    gap: 2rem;
    z-index: 3;

    button {
        padding: 0.45rem;
        place-self: center;
        height: fit-content;

        svg {
            display: flex;
        }
    }
}

.imageContainer {
    @media screen and (max-width: 800px) {
        background-image: unset;
    }

    position: relative !important;
    width: 100% !important;
    background-color: var(--pink);
    background-image: repeating-radial-gradient(
        var(--pink),
        var(--pinkv2) 1.2%
    );
    will-change: auto;
    animation: back 300ms linear infinite;
    padding: 0.8rem 0.9rem;
    transition: all 500ms;

    &.loaded {
        background-image: unset;
        animation: unset;
    }

    &.firstLoad {
        display: none;
    }

    span {
        object-fit: contain;
        position: relative !important;
        width: clamp(28rem, 80vw, 55vh) !important;
    }

    img {
        position: relative !important;
        height: 100% !important;
    }
}

.imageLoading {
    display: none;
    transform: scale(1.05);
    filter: opacity(0%) grayscale(30%) blur(10px);
}

.imageLoaded {
    transform: scale(1.0001);
    filter: opacity(100%) grayscale(0) blur(0);
    transition: all 1s;
}

@keyframes back {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 150% 150%;
    }
}
