.masonry {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 85vw;
    padding-top: 1.2rem;
}

.masonryColumn {
    background-clip: padding-box;
    max-width: 600px;
}

.noPadding {
    padding: 0;
}

@media (max-width: 800px) {
    .masonry {
        padding-top: 1rem;
        width: 90vw;
    }

    .noPadding {
        padding: 0;
    }
}
