.galleryContainer {
    display: grid;
    padding-top: 2rem;
    gap: 2vh;
    width: 60vw;
    justify-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-auto-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    grid-template-rows: masonry;
}

.galleryContainer svg {
    position: relative;
    left: 8%;
    top: 10%;
    font-size: 2.5rem;
    color: black;
    background-color: white;
    padding: 0.25rem;
    border-radius: 8px;
    border: 4px solid black;
    z-index: 3;
}

.imageContainer {
    position: relative;
    height: auto;
    width: stretch;
}
