@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;0,700;0,900;1,600;1,700;1,900&display=swap');

:root,
:root[data-theme='light'] {
    --maybewhite: #f8f8f8;
    --cream: #ffefd4;
    --pink: #ffc5b0;
    --clear-blue: #bbd0e2;
    --bluegreen: #50808e;
    --dark-item: #293136;
    --maybeblack: #272727;
}

@media (prefers-color-scheme: dark) {
    :root[data-theme='dark'] {
        --maybewhite: #f8f8f8;
        --cream: #313944;
        --pink: #2d5e51;
        --clear-blue: #304c66;
        --bluegreen: #50808e;
        --dark-item: #e2e2e2;
        --maybeblack: #1d1d1d;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--cream);
    transition: background 250ms;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    width: fit-content;
    padding: 0.3rem 0.8rem 0.3rem 0.75rem;
    margin: 0;
    color: var(--dark-item);
    background-color: var(--clear-blue);
    border: none;
    border-bottom: 6px solid var(--maybeblack);
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

button:hover {
    background-color: var(--pink);
    transition: background-color 400ms;
}

input {
    outline: none;
    padding: 0.45rem;
    padding-left: 0.6rem;
    width: 14rem;
    border-radius: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border: 6px solid var(--clear-blue);
    background-color: var(--maybewhite);
}
