.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main {
    width: 100%;
    padding: 2.25rem 0;
    gap: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main input[type='file'] {
    display: none;
}

.main label {
    cursor: pointer;
    padding: 0.3rem 0.8rem 0.3rem 0.75rem;
    color: var(--dark-item);
    background-color: var(--clear-blue);
    border-bottom: 5px solid var(--maybeblack);
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 900;
}

.main label:hover {
    background-color: var(--pink);
    transition: background-color 400ms;
}

.footer {
    width: 100%;
    height: fit-content;
    padding: 0.6rem;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--dark-item);
    border-top: 3px solid var(--dark-item);
}

.footer span:first-child:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    .main {
        width: 100%;
        gap: 0.8rem;
        padding: 1.6rem 0;
    }

    .main label {
        font-size: 1.4rem;
    }
}
