.pageTitle {
    color: var(--dark-item);
    font-weight: 800;
    font-style: italic;
    font-size: 1.8rem;
}

.boardsContainer {
    padding: 0;
    margin-top: 0.2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8rem;
    width: 80vw;
}

.sortButton {
    display: flex;
    justify-content: center;
    width: 14.8rem;
    padding-left: 2px;
    padding-right: 12px;
}

.sortButton span {
    display: flex;
    place-items: center;
}

.sortButton span svg {
    padding-top: 3px;
    font-size: 1.8rem;
}

@media (max-width: 800px) {
    .pageTitle {
        font-size: 1.3rem;
    }

    .boardsContainer {
        justify-content: center;
        gap: 0.8rem;
        width: 100vw;
    }
}
