.uploaderTitle {
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0.8rem 1.1rem 0.8rem 1.1rem;
    border-radius: 22px;
    border: 8px solid var(--clear-blue);
    color: var(--maybewhite);
    background-color: var(--maybeblack);
}

.buttonsContainer {
    display: flex;
    gap: 1rem;
}

.noImages {
    width: clamp(10rem, 60vw, 36rem);
    text-align: center;
    padding: 3rem 2.4rem;
    margin-top: 10vh;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--maybewhite);
    border-radius: 35px;
    border: 12px solid var(--clear-blue);
    background-color: var(--maybeblack);
}

@media (max-width: 800px) {
    .uploaderTitle {
        font-size: 1.2rem;
        padding: 0.8rem 0.9rem 0.8rem 0.9rem;
        border: 5px solid var(--dark-item);
    }

    .publishButton {
        font-size: 1.4rem;
    }
}
